body{
    background: #352f5b;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color:white
  }
input{
    max-width: 100%;
}

.sentAt{
  font-size:0.8em;
  color: gray;
}

/* This helps have a scroll-bar and makes the chatlog start at newest */
.list-group{
  max-height: 300px;
  overflow:scroll;
  display: flex;
  flex-direction: column-reverse;
}